<a routerLink="/" class="back-link">
  <fa-icon [icon]="faArrowLeft" class="back-icon"></fa-icon>
  Voltar
</a>
<header class="header">
  <div class="header-content">
    <div class="title-box">
      <h1 class="title">Search <span>d_evs</span></h1>
    </div>


    <form (ngSubmit)="onSearch()" [formGroup]="searchForm" class="search-form">
      <div class="search-input-box">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
        <input formControlName="username" type="text" placeholder="Buscar usuário..." class="search-input" />
      </div>

      <button type="submit" class="search-btn">Search</button>
    </form>
  </div>
</header>

<main class="main-content">

  <div class="profile-section" *ngIf="!loading && !error && user as user; else statusTpl">
    <aside class="user-profile">
      <div class="user-profile-header">
        <img [src]="user.avatar_url" alt="Avatar" class="user-avatar" />
        <div class="user-names">
          <h2 class="user-fullname">{{ user.name || user.login }}</h2>
          <p class="user-username">@{{ user.login }}</p>
        </div>
      </div>
      <!-- estátisticas do usuário -->
      <div class="user-stats">
        <div class="stat-item">
          <fa-icon [icon]="faUsers" class="stat-icon"></fa-icon>
          {{ user.followers }} seguidores
        </div>
        <div class="stat-item">
          <fa-icon [icon]="faUserPlus" class="stat-icon"></fa-icon>
          {{ user.following }} seguindo
        </div>
      </div>

      <p class="user-bio" *ngIf="user.bio">{{ user.bio }}</p>


      <div class="user-details">
        <div class="detail-box">
          <div *ngIf="user.company" class="detail-item">
            <fa-icon [icon]="faBuilding" class="detail-icon"></fa-icon>
            <span>{{ user.company }}</span>
          </div>

          <div *ngIf="user.location" class="detail-item">
            <fa-icon [icon]="faMapMarker" class="detail-icon"></fa-icon>
            <span>{{ user.location }}</span>
          </div>

          <div *ngIf="user.email" class="detail-item">
            <fa-icon [icon]="faEnvelope" class="detail-icon"></fa-icon>
            <span>{{ user.email }}</span>
          </div>
        </div>

        <div class="social-media">
          <div *ngIf="siteUrl()" class="detail-item">
            <fa-icon [icon]="faLink" class="detail-icon"></fa-icon>
            <a [href]="siteUrl()!" target="_blank" class="detail-link">{{ user.blog }}</a>
          </div>

          <div *ngIf="twitterUrl()" class="detail-item">
            <fa-icon [icon]="faXTwitter" class="detail-icon"></fa-icon>
            <a [href]="twitterUrl()!" target="_blank" class="detail-link">@{{ user.twitter_username }}</a>
          </div>
        </div>


      </div>


      <a class="contact-btn" [href]="user.html_url" target="_blank">
        Contato
      </a>
    </aside>


    <section class="repos-section">
      <div class="repos-list">
        <article *ngFor="let repo of repos" class="repo-card">

          <a [href]="repo.html_url" target="_blank" class="repo-name">
            {{ repo.name }}
          </a>

          <p class="repo-desc">{{ repo.description || 'Sem descrição' }}</p>

          <div class="repo-footer">
            <div class="repo-stat">
              <fa-icon [icon]="faStar" class="repo-icon"></fa-icon>
              <span>{{ repo.stargazers_count }}</span>
            </div>
            <div class="repo-stat">
              <fa-icon [icon]="faClock" class="repo-icon"></fa-icon>
              <span>{{ getTimeAgo(repo.updated_at) }}</span>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>

  <ng-template #statusTpl>
    <div *ngIf="loading" class="loading">Carregando...</div>
    <div *ngIf="error" class="error">Usuário não encontrado ou erro na API</div>
  </ng-template>
</main>